name: Docker Image CI

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build:
    # Kører på GitHubs ARM64 runner (kræver public repo)
    runs-on: ubuntu-24.04-arm

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Build Docker image (ARM64)
        run: |
          docker buildx build \
            --platform linux/arm64 \
            -f frigate.dockerfile \
            -t frigate-custom:latest \
            .
